## 使用selenium爬取，因为该网页是动态点击的，需要模拟点击事件，做之前如果先检查Chrome浏览器和driver是否版本一致，版本报错参考https://blog.csdn.net/qq_40604853/article/details/81388078 还有外网比较慢，可以不用先爬五年的，页数太多

In [31]:
from selenium import webdriver
import time
import json
import pandas as pd
import tqdm

In [32]:
url="https://www.nasdaq.com/market-activity/stocks/amzn/historical"
driver = webdriver.Chrome()
#3、driver发生get请求
driver.get(url)
for i in tqdm.tqdm_notebook(range(71)):
    if i==0:        
        #第一页
        #进入五年模式,找到5年这个按钮对应的源代码，将xpath复制下来（可以问我）
        element=driver.find_element_by_xpath('/html/body/div[2]/div/main/div[2]/div[4]/div[3]/div/div[1]/div/div[1]/div[3]/div/div/div/button[5]')
        driver.execute_script("arguments[0].click();", element)
        #外网加载速度比较慢，手动阻塞，以免响应不及时
        time.sleep(10)
        #保存网页源代码
        data = driver.page_source
        a=pd.read_html(data)#提取表格
        df_stocks=pd.DataFrame(a[0])#变为数据框
    else:
        #第二页以后需要点击下一页，同样将下一页的xpath复制下来
        element=driver.find_element_by_xpath('/html/body/div[2]/div/main/div[2]/div[4]/div[3]/div/div[1]/div/div[1]/div[5]/button[2]')
        driver.execute_script("arguments[0].click();", element)
        #外网加载速度比较慢，手动阻塞，以免响应不及时
        time.sleep(5)
        #保存网页源代码
        data = driver.page_source
        a=pd.read_html(data)
        df_stocks=pd.concat([df_stocks,pd.DataFrame(a[0])])#将多页的数据拼接到一个数据框里面

<ipython-input-32-d1a954f1a6eb>:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm.tqdm_notebook(range(71)):

HBox(children=(FloatProgress(value=0.0, max=71.0), HTML(value='')))

In [23]:
/html/body/div[2]/div/main/div[2]/div[4]/div[3]/div/div[1]/div/div[1]/div[5]/button[2]

In [30]:
a=pd.read_html(data)
pd.DataFrame(a[0])

          Date Close/Last   Volume       Open        High         Low
0   12/31/2021   $3334.34  2386287   $3379.12       $3387    $3331.17
1   12/30/2021   $3372.89  1879155      $3394    $3417.76    $3370.48
2   12/29/2021   $3384.02  1787702    $3416.8    $3424.24  $3372.0101
3   12/28/2021   $3413.22  2735593   $3403.65  $3443.5176    $3382.71
4   12/27/2021   $3393.39  2942341   $3420.74    $3458.86    $3384.31
5   12/23/2021   $3421.37  1839412   $3408.56     $3439.5       $3403
6   12/22/2021   $3420.74  2751773  $3385.395       $3441    $3370.01
7   12/21/2021   $3408.34  2797791   $3357.01  $3414.3299    $3312.95
8   12/20/2021   $3341.58  2868633      $3337  $3357.4851       $3312
9   12/17/2021   $3400.35  4287758   $3354.21    $3417.97   $3312.271
10  12/16/2021   $3377.42  3043842  $3467.371    $3483.32   $3363.205
11  12/15/2021    $3466.3  3789713   $3371.96       $3472     $3303.9
12  12/14/2021   $3381.83  2798764      $3351    $3389.98     $3328.8
13  12/13/2021   $3391.35  3108450      $3440       $3442     $3382.6
14  12/10/2021   $3444.24  3034488   $3508.34    $3518.54       $3410
15  12/09/2021   $3483.42  2303091      $3515    $3539.39    $3482.79
16  12/08/2021   $3523.16  2262683   $3523.01     $3543.6    $3495.01
17  12/07/2021   $3523.29  3320536      $3492    $3549.99    $3466.69

### 怎么爬取其他时间段的数据？
### 怎么爬取其他股票的数据？
### 怎么将数据框中的美元符号去掉？

In [33]:
df_stocks

          Date Close/Last   Volume      Open        High         Low
0   12/31/2021   $3334.34  2386287  $3379.12       $3387    $3331.17
1   12/30/2021   $3372.89  1879155     $3394    $3417.76    $3370.48
2   12/29/2021   $3384.02  1787702   $3416.8    $3424.24  $3372.0101
3   12/28/2021   $3413.22  2735593  $3403.65  $3443.5176    $3382.71
4   12/27/2021   $3393.39  2942341  $3420.74    $3458.86    $3384.31
..         ...        ...      ...       ...         ...         ...
12  01/09/2017    $796.92  3442864      $798   $801.7742     $791.77
13  01/06/2017    $795.99  5981169   $782.36     $799.44     $778.48
14  01/05/2017    $780.45  5820195   $761.55   $782.3999   $760.2557
15  01/04/2017    $757.18  2505296   $758.39     $759.68      $754.2
16  01/03/2017    $753.67  3519877   $757.92   $758.7595      $747.7

[1276 rows x 6 columns]